@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@300;400;500&family=Rubik:wght@300;400;500&family=Source+Sans+Pro:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
body {
    color: white;
    Font-size: 18px;
    user-select: none;
    background: radial-gradient(hsl(246, 62%, 13%),  hsl(246, 71%, 57%) 200%);
    overflow: hidden;
}
.menu {
    position: absolute;
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 85%;
    height: 85%;
    padding: 50px;
    max-height: 600px;
    background: hsl(226, 43%, 10%);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
img, nav, ul, html, body {
    width: 100%;
    height: 100%;
}
li {
    list-style: none;
}
button {
    border: none;
    background: none;
}
button:hover {
    cursor: pointer;
    filter: brightness(1.4);
}
p, span { 
    font-size: 0.9rem;
    color: #d8dbf7;
}
.main-box {
    width: 23%;
    border-radius: 10px;
    background: hsl(235, 46%, 20%);
}
.main-box .perfil {
    padding: 12%;
    height: 70%;
    border-radius: 15px;
    background: hsl(246, 71%, 57%);
}
.perfil .user-image {
    border: 3px solid white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.perfil .user-image:hover {
    transition:  0.4s;
    transform: scale(1.5);
}
.perfil .user-name {
    color: #ebeaea;
    font-size: 1.6rem;
    margin: 10% 0;
}
.perfil .user-name span {
    font-size: 0.9rem;
}
.main-box .period {
    height: 30%;
}
.main-box .period ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8% 0;
}
.main-box .period li {
    padding: 0 10%;
}
.main-box .period li p {
    font-size: 1.1rem;
}
.main-box .period li p:hover {
    transition: 0.5s;
    color: white;
    cursor: pointer;
}
.active p{
    transition: 0.2s;
    color: #e4e4e4;
    animation: select 0.2s linear;
}
@keyframes select {
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.menu-tasks {
    display: grid;
    width: 75%;
    height: 100%;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 25px;
}
.task-box {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.task-box-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-size: 0.8rem;
}
.task-box-header h2 {
    font-weight: 400;
    color: white;
}
.task-box-header button {
    height: 0.28rem;   
}
.task-box:nth-child(1) {
    background: hsl(15, 100%, 70%);
}
.task-box:nth-child(2) {
    background: hsl(195, 74%, 62%);
}
.task-box:nth-child(3) {
    background: hsl(348, 100%, 68%);
}
.task-box:nth-child(4) {
    background: hsl(145, 58%, 55%);
}
.task-box:nth-child(5) {
    background: hsl(264, 64%, 52%);
}
.task-box:nth-child(6) {
    background: hsl(43, 84%, 65%);
}
.task-box-hat {
    position: relative;
    height: 20%;
}
.task-box-hat img {
    position: absolute;
    object-fit: cover;
    right: 10%;
    width: 40%;
}
.task-box-content {
    padding: 12%;
    height: 90%;
    border-radius: 10px;
    background: hsl(235, 46%, 20%);
}
.task-box-content:hover {
    transition: 0.4s;
    cursor: pointer;
    background: hsl(235, 47%, 25%);
}
.task-box-info h3 {
    padding: 8% 0 3% 0;
    font-size:3.6rem;
}
@keyframes changePeriod {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;  
}
.attribution p{
    margin: 0 2%;
    color: white;
}
.attribution a{
    text-decoration: none;
    color:  hsl(188, 57%, 66%);
}
.attribution a:hover {
    color:  hsl(215, 100%, 83%);
}
::-webkit-scrollbar {
    width: 0;
}
@media only screen and (max-width: 1200px) {
    .menu {
        width: 100%;
        height: 100%;
    }
    .main-box {
        width: 30%;
    }
    .perfil .user-name {
        margin: 0;
        font-size: 1.4rem;
    }
    .menu-tasks {
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }
    .attribution p {
        font-size: 1rem;
    }
    .task-box-content .task-box-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .task-box-info h3 {
        padding: 0;
    } 
}

@media only screen and (max-width: 900px) {
    .menu {
        padding: 0;
        max-height: none;
        flex-direction: column;
        align-items: center;
    }
    .main-box .perfil {
        display: flex;
        align-items: center;
        height: 70%;
        padding: 0 3%;  
    }
    .perfil .user-image {
        width: auto;
        height: 70%;
        border-width: 3px;
    }
    .main-box .period ul {
        padding: 0;
        flex-direction: row;
        align-items: center;
    }
    .main-box .period ul li, .task-box-content .task-box-info > * {
        padding: 0;
        margin: 0;
    }
    .main-box {
        height: 35vh;
    }
    .main-box, .menu-tasks {
        margin: 1% 0;
        width: 96%;
    }
    .task-box {
        border-radius: 12px;
        width: 100%;
    }
    .perfil .user-name {
        margin: 0 5% ;
    }
    .task-box-content {
       border-radius: 8px;
       padding: 5% 5%;
    }
}

@media only screen and (max-width: 500px) {
    .perfil .user-name,  .task-box-info p {
        font-size: 1.0rem;
    }
    .task-box-info h3{
        font-size: 2.4rem;
    }
    .attribution p {
        font-size: 0.6rem;
    }
    .task-box .task-box-header , .perfil .user-name span{
        font-size: 0.9rem;
    }
}